@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to STLCollegePrep!</h1>
    <p class="lead">This website will allow you to upload grades, search for courses and students, and make changes to courses and students.</p>
    <p>A few pieces of info to start</p>
    <ul>
        <li>The upload page allows you to insert data into your database</li>
        <li>The reports page allows you to generate reports off of your data</li>
        <li>The courses and students pages display their data in a table format</li>
        <li>On the courses and students pages you can select edit to makes changes</li>
        <li>You can also select details for more pertinent information</li>
    </ul>
    <p>Click the link below to get started!</p>
    <p>@Html.ActionLink("Click here to Login", "Index", "Account", null, new { @class = "btn btn-primary"})</p>
</div>