
@{
    ViewBag.Title = "GradeUpload";
}

<h2>Index</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Student</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

		<input type="text" name="year"><br><br>
		  
		<select>
			<option value="Fall">Fall</option>
			<option value="Spring">Spring</option>
			<option value="Summer">Summer</option>
		</select><br><br>

		<input type="text" name="csvFile">
		<button type="button">Browse</button><br><br>

		<button type="button">Upload</button>
    </div>

	<br>
	
	<table class="table">
		<tr>
			<th>
				Student Last Name
			</th>
			<th>
				Student First Name
			</th>
			<th>
				Student Number
			</th>
			<th>
				Class Description
			</th>
			<th>
				Grading Period Description 
			</th>
			<th>
				Final Grade
			</th>
			<th></th>
		</tr>

		<tr>
			<td>
				students.LastName
			</td>			
			<td>
				students.FirstName
			</td>
			<td>
				students.StudentNumber
			</td>
			<td>
				courseStudents.ClassDescription
			</td>
			<td>
				period.Semester
			</td>
			<td>
				courseStudents.AwardedGrade
			</td>
		</tr>
	</table>
}